.footer{
    width: 80%;
    height: 60%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left{
        width: 75%;
        height: 100%;
        
        .list{
            width: 70%;
            height: 20%;
            > ul {
                padding: 0;
                display: flex;
                align-items: center;
                gap: 15px;
                margin: 0;
            }

            ul>hr{
                height: 20px;
            }

            > ul > li {
                color: white;
                display: inline;
                font-size: 15px;

                justify-content: flex-start;

                > a {
                    text-decoration: none; /* 밑줄 제거 */
                    color: inherit; /* 부모 요소의 색상 상속 */
                    outline: none; /* 클릭 시 외곽선 제거 */
                    cursor: pointer; /* 커서 기본 설정 */
                    position: relative;
                }
            }

            > ul > hr {
                height: 15px;
            }
        }
        .txt{
            height: 60%;
            display: flex;
            flex-direction: column;
            margin-bottom: 2%;
            
            > strong {
                color: white;
                font-size: 11px; /* 제목 폰트 크기 */
                padding: 2% 0;
            }

            > span {
                color: lightgray;
                font-size: 11px; /* 설명 텍스트 폰트 크기 */
                margin-bottom: 2px;
            }

            >span >a{
                color: lightgray;
                text-decoration: none;
            }
        }
        .list-copy{
            display: flex;
            flex-direction: row;
            height: 20%;

            .end{
                width: 60%;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                >ul{
                    padding: 0;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                }

                >ul>hr{
                    height: 13px;
                }

                > ul > li {
                    display: inline;
                    font-size: 10px;
                    > a {
                        text-decoration: none; /* 밑줄 제거 */
                        outline: none; /* 클릭 시 외곽선 제거 */
                        cursor: pointer; /* 커서 기본 설정 */
                        position: relative;
                    }
    
                    a > strong {
                        color: white;
                    }
    
                    a > span {
                        color: lightgray;
                    }
                }
            }

            .copyright{
                width: 45%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                
                >span{
                    color: lightgray;
                    font-size: 10px;
                }
            }
        }
    }

    .right{
        width: 20%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        .select-box{
            > select {
                background-color: transparent;
                color: white;
                border: 1px solid white;
                border-radius: 5px;
                height: 30px;
                width: 150px;
                padding-left: 10px;
                font-size: 11px; /* 셀렉트 박스 폰트 크기 */
            }

            > select > option {
                color: black;
                font-size: 11px; /* 옵션 항목 폰트 크기 */
            }
        }

        .icon {
            width: 12vh;
            height: 5vh;
            display: flex;
            gap: 10px;

            .blog {
                a > img {
                    border-radius: 1vh;
                    width: 5vh;
                    height: 5vh;
                }
            }
            .youtube {
                a > img {
                    border-radius: 1vh;
                    width: 5vh;
                    height: 5vh;
                }
            }
        }
    }
}

/* 반응형 */
@media (max-width: 687px) {
    .footer{
        width: 95%;
        height: 90%;

        display: flex;
        flex-direction: column;
    

        .left{
            width: 100%;
            height: 100%;
            
            .list{
                height: 20%;
                width: 55%;
            }
            .txt{
                height: 50%;
            }
            .list-copy{
                display: flex;
                flex-direction: column;
    
                .end{
                    width: 100%;
                    height: 50%;
                }
    
                .copyright{
                    width: 100%;
                    height: 50%;
                    display: flex;
                    justify-content: flex-start;

                }
            }
        }
    
        .right{
            width: 100%;
            display: flex;
            flex-direction: row;
            >.select-box>select{
                width: 350px;
            }
        }
    }
}