.admin-home{
    /* border: 1px solid red; */
    height: 100vh;

    >nav{
        height: 50px;
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    >nav >img{
        color: white;
        margin-left: 10px;
        height: 20px;
    }

    >nav>div{
        /* border: 1px solid red; */
        width: 300px;
        height: 30px;
        margin-right: 10px;

        display: inherit;
        flex-direction: inherit;
        justify-content: flex-end;
        align-items: inherit;

        gap: 15px;

        >span{
            color: white;
        }

        >img{
            border: 1px solid white;
            color: aliceblue;
            font-size: 10px;
            width: 30px;
            height: inherit;
        }
    }

    .logout-icon {
        color: white;
    }
}

.admin-home > div{
    /* border: 3px solid blue; */
    height: calc(100vh - 50px);

    display: flex;
    flex-direction: row;

    >side{
        /* border: 3px solid blue; */
        background-color: lightgray;
        width: 250px;
    }
}

.admin-home > div > side{
    >ul{
        margin: 0;
        padding: 0;
    }

    >ul >li{
        list-style: none;
        text-decoration: none;
        margin: 10px;
        cursor: pointer;
    }

    >ul>hr{
        opacity: 80%;
    }
}

.admin-component{
    /* border: 1px solid red; */
    height: inherit;
    width: 100%;
}

