.totalSection {
  width: 100%;
  overflow-x: hidden;
  padding: 10vw 5vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headtitle {
  font-size: 3vw;
  text-align: right;
  color: white;
  font-family: "Pretendard", sans-serif;
  margin: 0px 0px 1vh;
  line-height: 1.2;
}

.firstSection,
.secondSection {
  padding: 0 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1vw;
  width: 100%;
}

.titlesection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin-left: 10vw;
  width: 45%;
}

.subtitle {
  font-size: 0.9vw;
  color: white;
  display: block;
  font-family: "Pretendard", sans-serif;
  margin: 0px 0px 3vh;
  letter-spacing: -0.1em;
}

.Prlink {
  display: flex;
  align-items: center;
  font-family: "Pretendard", sans-serif;
  color: white;
  font-size: 0.8vw;
  text-decoration: none;
  padding: 0.8vw 1.5vw;
  border: 1px solid #fff;
  border-radius: 40px;
  box-sizing: border-box;
  font-weight: 500;
  transition: all 0.3s ease;
}

.arrow {
  display: block;
  width: 1vw;
  height: 1vh;
  margin: 0.5vh 0 0 1vh;
}

.cardsContainer {
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 100%;
}

.cardList {
  display: flex;
  flex-wrap: nowrap; /* 기본적으로 수평 정렬 유지 */
  gap: 1.5rem;
  justify-content: flex-start; /* 필요한 경우 사용 */
  width: 100%;
}

.cardItem {
  list-style-type: none;
  padding-left: 0;
  width: 15vw;
  height: 30vh;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  min-width: 200px;
  margin-bottom: 2rem;
}

.cardItem img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card_text {
  padding: 0.5rem;
  font-size: 0.9em;
  line-height: 1.4;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  max-height: calc(1.4em * 2);
  letter-spacing: -0.05em;
}

.card_link {
  text-decoration: none;
  color: inherit;
}

.card_tag {
  display: flex;
  justify-content: left;
  padding-left: 1.2vw;
  color: #7b7b7b;
  margin-top: -1.5vh;
  gap: 1.3vw;
  width: 100%;
  align-self: flex-start;
}

.card_tag span {
  border: 1px solid #7b7b7b;
  padding: 0.1vw 0.4vw;
  border-radius: 20px;
  font-size: 0.8vw;
  color: #fff;
  display: inline-block;
  background-color: #404040;
}

@media only screen and (max-width: 1024px) {
  .Prlink {
    font-size: 0.6rem;
    padding: 0.6rem;
    white-space: nowrap;
  }

  .cardList {
    display: flex;
    flex-direction: row;
    padding-left: 1vw;
    gap: 1.5rem;
  }

  .cardItem {
    width: 45vw;
    height: auto;
  }

  .card_text {
    font-size: 0.8rem;
  }

  .firstSection .cardList li:nth-child(n + 3),
  .secondSection .cardList li:nth-child(n + 3) {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .totalSection {
    flex-direction: column !important;
    align-items: center;
    padding: 5vw;
  }

  .firstSection .cardList li:nth-child(1),
  .secondSection .cardList li:nth-child(1) {
    display: block !important;
  }

  .firstSection,
  .secondSection {
    width: 100% !important;
    padding: 0 0 2rem !important;
    flex-direction: column !important;
    align-items: stretch !important;
    gap: 2rem !important;
  }

  .titlesection {
    margin-left: 1vw !important;
    margin-bottom: 20px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .subtitle,
  .Prlink {
    text-align: inline-block !important;
  }

  .subtitle {
    font-size: 1rem;
    margin-bottom: 0px !important;
  }

  .Prlink {
    font-size: 0.6rem !important;
    padding: 0.5rem 1.2rem !important;
    text-decoration: none !important;
    color: white;
    border: 1px solid #fff;
    border-radius: 30px;
    display: flex !important;
  }

  .cardList {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .cardItem {
    width: 98%;
    height: auto;
  }

  .cardItem img {
    width: 100%;
    height: 70%;
  }

  .card_text {
    font-size: 2.3vw;
    text-align: left;
  }

  .card_tag span {
    gap: 4vw;
    margin-bottom: 1.2vh;
    padding: 0.6vw 0.8vw;
    font-size: 1.2vw;
  }

  .titlesection h2 {
    font-size: 7vw !important;
  }

  .cardsContainer {
    overflow: hidden;
  }

  .cardList li {
    display: none;
  }
}
