html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* 스크롤 애니메이션 활성화 */
}

.homepage {
  background-image: url(https://tilon.com/common/images/pc_newbg.png);
  width: 100%;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /*배경 이미지가 반복되지 않도록 설정, 한번만 보이도록*/
  background-position: 0 60%;
  /*배경 이미지가 요소의 왼쪽에서 시작하여 아래쪽으로 60% 내려간 위치에 정렬*/

  .top-icon {
    background-image: url(https://www.tilon.com/dist/pc_ToTopBtn.png?53dccaee8c2646d9ddb16a25665a7af9);
    border: none;
    background-color: transparent;
    width: 54px;
    height: 54px;
    position: fixed;
    cursor: pointer;
    top: 90vh;
    right: 80px;
    z-index: 100;
  }

  .top-icon.hidden {
    opacity: 0;
    pointer-events: none;
    /* 클릭을 막기 위해 */
  }

  .top-icon.visible {
    opacity: 1;
  }
}

/* 커스텀 스크롤바 스타일링하겠다는 기본속성
이  속성이없으면 다른 모든 스크롤바속성은 비활성화 */
::-webkit-scrollbar {
  width: 8px; /* 세로축 스크롤바 폭 너비 */
}

/* 스크롤바 막대 바꾸기 */
body::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 12px 12px 12px 12px;
}
