.admin-info-box {
    padding: 20px;
    padding-bottom: 0;
    height: 620px;
    border-radius: 8px;
    position: relative;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;

    >h2 {
        align-self: flex-start;
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 0;

    }

    .btn-container {
        position: absolute;
        top: 20px;
        right: 10px;
        z-index: 20;

        >button {
            padding: 10px 20px;
            font-size: 16px;
            margin: 0 10px;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;

        }

        .delete-button {
            background-color: #ff4f4f;
        }

        .delete-button:hover {
            background-color: #ff4f4fc4;
        }

        .add-button {
            background-color: #4362FF;
        }

        .add-button:hover {
            background-color: #4362ffd7;
            ;
        }

    }

    .admin-table {
        width: 100%;
        border-collapse: collapse;

        .info-checkbox {
            cursor: pointer;
        }
    }

    .admin-table th,
    .admin-table td {
        padding: 12px 15px;
        text-align: left;
        border: 1px solid #ddd;
    }

    .admin-table th {
        background-color: #a09f9f;
        color: white;
    }

    /* 홀수일떄 백그라운드 */
    .admin-table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .admin-table tr:hover {
        background-color: #f1f1f1;
    }

    .pagination {
        display: flex;
        align-items: center;
        gap: 10px;
        position: absolute;
        bottom: 15px;

        .page-btn {
            border: none;
            background-color: transparent;
        }

        .page-number-btn {
            margin: 0 5px;
            padding: 5px 10px;
            border: 1px solid #ccc;
            cursor: pointer;
            border-radius: 50%;
        }

        .page-number-btn.active {
            background-color: #007bff;
            color: white;
        }
        
        .page-number-btn:hover {
            background-color: #ddd;
        }
    }
}