/* 모달 전체 화면 덮는 오버레이 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    /* 모달 컨테이너 */
    .modal-container {
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        width: 400px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }

    .modal-container h2 {
        margin-bottom: 20px;
        font-size: 24px;
        text-align: center;
    }

    /* 폼 레이블 및 입력 필드 */
    .modal-container label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .modal-container input {
        width: 80%;
        height: 34px;
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    /* 버튼 스타일 */
    .modal-buttons {
        display: flex;
        gap: 20px;
        justify-content: center;


        .submit-button {
            background-color: #4362FF;
            width: 200px;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .submit-button:hover {
            background-color: #273fba;
        }

        .cancel-button {
            background-color: #c5c5c5;
            color: white;
            width: 200px;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .cancel-button:hover {
            background-color: #929191;
        }
    }

}