.news-page{

    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.news-page-container{
    /* border: 1px solid red; */
    width: 95%;
    height: 95%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    >nav{
        /* border: 1px solid red; */

        background-color: black;
        height: 40px;
        width: 100%;
        display: inherit;
        flex-direction: row;
        justify-content: space-between;

        margin: 20px 0px;
    }

    >nav>span{
        display: inherit;
        align-items: center;
        margin-left: 10px;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }

    nav > div{
        color: white;
        /* border: 1px solid wheat; */
        width: 300px;
        height: 100%;

        display: inherit;
        justify-content: inherit;
        align-items: center;

        margin-right: 10px;
    }

    nav> div> input{
        width: 200px;
        height: 4px;
        /* border: 1px solid lightsteelblue; */
        border-radius: 5px;
        margin-top: 10px;
    }

    nav> div> button{
        width: 60px;
        height: 30px;

        border: none;
        border-radius: 5px;

        font-size: 15px;

        background-color: lightsteelblue;
    }
}


.news-lists{
    /* border: 1px solid blue; */

    display: grid;
    flex-direction: column;
    gap: 20px;

    >div{
        border-bottom: 1.5px solid lightgray;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 2%;

        cursor: pointer;
    }
}
